/********** Button ********** */
.button_dk-gray {
  background-color: #2f2f2f;
  padding: 25px 50px;
  display: inline-block; }

.button_dk-gray:hover {
  background-color: #444444;
  color: #0f0f0f; }

.button_green {
  background-color: #6fa031;
  padding: 25px 50px;
  display: inline-block; }

.button_green:hover {
  background-color: #7eb638;
  color: #45631e; }

.button_teal {
  background-color: #007481;
  padding: 25px 50px;
  display: inline-block; }

.button_teal:hover {
  background-color: #018b9b;
  color: #005c66; }
