a:hover {
  color: #bbbbbb; }

::selection {
  background: #6fa031; }

::-moz-selection {
  background: #6fa031; }

a {
  color: white;
  background-color: whitesmoke;
  font-family: "intro_regularregular", sans-serif;
  -webkit-transition-property: color;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  text-decoration: none; }
