.team {
  background: #f4f4f4; }

.team-spacer {
  border-top: 1px solid #eeeeee;
  min-height: 1px; }

.advisory-board {
  margin-top: 40px;
  margin-bottom: 30px; }

.additional-mentors {
  margin-top: 40px;
  margin-bottom: 30px; }

.advisory-board-heading, .additional-mentors-heading {
  padding-left: 15px; }

.biopic-image {
  float: left;
  width: 20%;
  height: 170px;
  overflow: hidden; }
  .biopic-image img {
    width: 100%; }

.biopic-copy {
  float: left;
  max-width: 70%;
  margin-top: 0; }
  .biopic-copy p {
    margin-top: 0;
    padding-left: 30px;
    font-size: 16px; }

.mentor-name {
  color: #007481;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px; }

.mentor-title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  leter-spacing: 2px; }

.team-member-name {
  margin: 0;
  padding: 20px 0 5px 20px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600; }

.team-member-title {
  padding: 0 20px 15px 20px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0; }

.team-member {
  background: #007481;
  color: white; }

.teamheading {
  padding-left: 10px; }

@media all and (max-width: 580px) {
  .biopic-copy {
    display: none; }

  .biopic-image {
    float: left;
    width: 20%;
    height: 100px; } }
