
.cohort-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  li {
    a {
      font-family: "league gothic";
      letter-spacing: 1.5px;
      font-size: 68px;
      line-height: 1.25em;
      color: black;
    }
  }
  li:before {
    content: "> ";
    font-size: 72px;
    line-height: 0.5em;
    color: #eaeaea;
  }
}

.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    max-width: 25px;
    max-height: 25px;
    float: left;
    margin-right: 10px;
    a {
      img {
        max-width: 25px;
      }
    }
  }
}

.team-list {
  list-style-type: none;
  margin: 0 auto;
  p {
    color: white;
  }
  li.col2 {
    float: left;
    width: 47.85833%;
    margin: 1.04167%;
    p {
      padding: 10px;
    }
  }
  li.col3 {
    float: left;
    margin: 1.04167%;
    width: 31.25%;
    p {}
  }
  img {
    width: 100%;
  }
}

.fellows-list {
  list-style-type: none;
  li {
    float: left;
    width: 31.25%;
    margin: 1.04167%;
    overflow: hidden;
    max-height: 356px;
    img {
      width: 100%;
    }
  }
}

.advisor-list {
  list-style-type: none;
  padding-left: 40px;
  .mentor-name {
    margin-top: 0;
  }
  li {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.additional-mentors-list {
  list-style-type: none;
  padding-left: 40px;
  li {
    padding-top: 5px;
  }
}

@media all and (max-width: 580px) {
  .team-list {
    list-style-type: none;
    margin: 0 auto;
    li.col2 {
      float: left;
      width: 47.85833%;
      margin: 1.04167%;
      p {
        padding: 5px;
      }
      .team-member {
        height: 100px;
      }
    }
    li.col3 {
      float: left;
      margin: 1.04167%;
      width: 31.25%;
      p {
        padding: 5px;
      }
      .team-member {
        height: 128px;
      }
    }
    img {
      width: 100%;
    }
  }
  .fellows-list {
    list-style-type: none;
    li {
      float: left;
      width: 31.25%;
      margin: 1.04167%;
      overflow: hidden;
      max-height: 356px;
      img {
        width: 100%;
      }
    }
  }
  .advisor-list {
    li {
      padding-bottom: 10px;
    }
  }
  .cohort-list {
    li {
      a {
        font-family: "avenir";
        font-size: 20px;
      }
    }
    li:before {
      font-size: 20px;
    }
  }
}
